@using NailShop.DataAccess;
@model vw_About 
@{
    ViewBag.Title = @Resources.FormTitle.formAbout;
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section Style {
    <link href="~/Contents/css/nail-about.css" rel="stylesheet" />
}

<div class="page-wrap">
    <div class="title-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>@Resources.FormTitle.titleAbouts</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 about-content">
                    @Html.Raw(Model.Contents)
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    
}