.ui-grid {
    border-color: #e8e8e8;
    border-radius: 2px;
}

.ui-grid-header {
    border-color: #ebebeb;
}

.ui-grid-top-panel {
    background: #f5f5f5;
}

.ui-grid-header-cell {
    border-right: 1px solid #ebebeb;
}

.ui-grid-canvas {
    padding-top: 0px;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #F9F9F9;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #FFFFFF;
}

.ui-grid-cell {
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}

.ui-grid-pager-control button {
    height: 30px;
    border-radius: 2px;
    background-color: #fafafa;
    border-color: #dadada;
    color: #717171;
}

.ui-grid-pager-control input {
    height: 30px;
    border-radius: 2px;
    background-color: #fafafa;
    border-color: #dadada;
    -webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
    box-shadow: 0 1px 1px rgba(90,90,90,0.1);
}

.ui-grid-pager-row-count-picker select {
    height: 30px;
    border-radius: 2px;
    background-color: #fafafa;
    border-color: #dadada;
    -webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
    box-shadow: 0 1px 1px rgba(90,90,90,0.1);
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: middle;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number > * {
    vertical-align: baseline;
}

.ui-grid-pager-count-container {
    margin-top: 6px;
}

.ui-grid-pager-control button.disabled, .ui-grid-pager-control button[disabled], fieldset[disabled] .ui-grid-pager-control button, .ui-grid-pager-control button.disabled:hover, .ui-grid-pager-control button[disabled]:hover, fieldset[disabled] .ui-grid-pager-control button:hover, .ui-grid-pager-control button.disabled:focus, .ui-grid-pager-control button[disabled]:focus, fieldset[disabled] .ui-grid-pager-control button:focus, .ui-grid-pager-control button.disabled.focus, .ui-grid-pager-control button[disabled].focus, fieldset[disabled] .ui-grid-pager-control button.focus, .ui-grid-pager-control button.disabled:active, .ui-grid-pager-control button[disabled]:active, fieldset[disabled] .ui-grid-pager-control button:active, .ui-grid-pager-control button.disabled.active, .ui-grid-pager-control button[disabled].active, fieldset[disabled] .ui-grid-pager-control button.active {
    background-color: #fafafa;
    border-color: #dadada;
}

.ui-grid-cell-contents {
    outline: none;
}

.ui-grid-row:last-child .ui-grid-cell {
    border-bottom-width: 1px !important;
    border-bottom-color: #f1f1f1;
}