@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,900,700italic,900italic&subset=latin,vietnamese);
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 390px;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto', sans-serif;
}
@media (min-width: 768px) {
  body {
    margin-bottom: 265px;
  }
}
@media (min-width: 992px) {
  body {
    margin-bottom: 156px;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 390px;
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .footer {
    height: 265px;
  }
}
@media (min-width: 992px) {
  .footer {
    height: 156px;
  }
}
a {
  color: rgba(0, 0, 0, 0.87);
}
a:hover {
  color: #2196f3;
  text-decoration: none;
}
hr {
  color: #e0e0e0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body .page-wrap {
  padding-top: 147px;
}
@media (min-width: 768px) {
  body .page-wrap {
    padding-top: 136px;
  }
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn {
  border-radius: 2px;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-color: #ffffff;
  border: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  background-position: 0 -15px;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0;
}
.btn-default.disabled,
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0;
  background-image: none;
}
.btn-primary {
  background-color: #2196f3;
  border: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-primary:hover,
.btn-primary:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #2698f3;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #0b76cc;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #0b76cc;
  background-image: none;
}
.btn-success {
  background-color: #5cb85c;
  border: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-success:hover,
.btn-success:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #60ba60;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
}
.btn-success.disabled,
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #419641;
  background-image: none;
}
.btn-info {
  background-color: #5bc0de;
  border: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-info:hover,
.btn-info:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #5fc2df;
  background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
  background-color: #2aabd2;
}
.btn-info.disabled,
.btn-info:disabled,
.btn-info[disabled] {
  background-color: #2aabd2;
  background-image: none;
}
.btn-warning {
  background-color: #f0ad4e;
  border: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-warning:hover,
.btn-warning:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f0af53;
  background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #eb9316;
}
.btn-warning.disabled,
.btn-warning:disabled,
.btn-warning[disabled] {
  background-color: #eb9316;
  background-image: none;
}
.btn-danger {
  background-color: #d9534f;
  border: none;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.btn-danger:hover,
.btn-danger:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #da5753;
  background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #c12e2a;
}
.btn-danger.disabled,
.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #c12e2a;
  background-image: none;
}
.modal-content {
  border-radius: 2px;
  border: none;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.modal-header {
  background-color: #2196f3;
  border: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.modal-header .close {
  vertical-align: middle;
  color: #fff;
  opacity: 1;
}
.modal-title {
  font-size: 24px;
}
.form-control {
  border-color: #e0e0e0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control-feedback {
  color: #c6c6c6;
}
.breadcrumb {
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .breadcrumb {
    padding: 30px 0;
  }
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: rgba(0, 0, 0, 0.87);
}
.breadcrumb > .active {
  color: #2196f3;
}
.navbar-fixed-top {
  border-bottom: 0;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (min-width: 768px) {
  .navbar-right {
    margin-right: 15px;
  }
}
.navbar .header-top {
  background-color: #e1f5fe;
  height: 67px;
  border-bottom: 1px solid #eeeeee;
}
@media (max-width: 767px) {
  .navbar .header-top .header-top-right .shopping-cart a {
    line-height: 28px;
  }
}
@media (min-width: 768px) {
  .navbar .header-top {
    height: 56px;
  }
  .navbar .header-top .header-top-right ul {
    line-height: 56px;
    display: inline-block;
  }
}
.navbar .header-top ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar .header-top ul li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.navbar .header-top p {
  line-height: 28px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar .header-top p {
    line-height: 56px;
  }
}
.navbar .header-bottom .navbar-brand {
  height: 80px;
}
.navbar .header-bottom .navbar-brand > img {
  height: 50px;
}
.navbar-nav > li > a {
  padding: 10px 0;
}
@media (max-width: 767px) {
  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.navbar-toggle {
  margin-top: 24px;
  margin-bottom: 24px;
}
.navbar-default .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    padding-bottom: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-bottom: 3px solid transparent;
  }
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #2196f3;
    border-color: #2196f3;
  }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #2196f3;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #2196f3;
    border-color: #2196f3;
  }
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #2196f3;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border-color: #2196f3;
  }
}
.navbar-default .navbar-nav > .open .dropdown-menu > li > a {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a:hover {
    background-color: #eeeeee;
  }
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > .open .dropdown-menu > li > a:hover {
    background-color: #2196f3;
    color: #fff;
  }
}
.navbar-default .navbar-toggle {
  border: 0;
  border-radius: 0;
}
.footer {
  color: #fff;
}
.footer a {
  color: #fff;
}
.footer-top {
  background-color: #2196f3;
}
.footer-top [class^='col-sm-'] > i {
  position: absolute;
  text-align: right;
  font-size: 36px;
  height: 36px;
  width: 36px;
  top: 20px;
  left: 15px;
}
.footer-top [class^='col-sm-'] > h4 {
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}
.footer-top [class^='col-sm-'] > p {
  margin-left: 40px;
}
@media (max-width: 767px) {
  .footer-top [class^='col-sm-'] > .dl-horizontal {
    margin-left: 40px;
  }
}
@media (min-width: 768px) {
  .footer-top [class^='col-sm-'] > .dl-horizontal dt {
    width: 100px;
  }
  .footer-top [class^='col-sm-'] > .dl-horizontal dd {
    margin-left: 106px;
  }
}
.footer-top [class^='col-sm-'] > ul > li i {
  font-size: 24px;
  width: 24px;
  text-align: right;
}
.footer-bottom {
  background-color: #0d47a1;
}
.footer-bottom p,
.footer-bottom a {
  line-height: 40px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .footer-bottom p,
  .footer-bottom a {
    text-align: center;
    line-height: 28px;
  }
}
.nail-carousel .owl-nav > div {
  position: absolute;
  top: 50%;
  color: #ffffff;
  border: 1px solid #ffffff;
  line-height: 30px;
  text-align: center;
  width: 30px;
  margin-top: -15px;
}
.nail-carousel .owl-nav .owl-prev {
  left: -30px;
}
.nail-carousel .owl-nav .owl-next {
  right: -30px;
}
.nail-carousel .owl-dots {
  height: 10px;
  text-align: center;
  margin-top: 10px;
}
.nail-carousel .owl-dots .owl-dot {
  display: inline-block;
  font-size: 0;
  margin-right: 2px;
  margin-left: 2px;
  vertical-align: text-top;
}
.nail-carousel .owl-dots .owl-dot span {
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
.nail-carousel .owl-dots .owl-dot.active span {
  background-color: #2196f3;
}
.title-page {
  background-color: #eeeeee;
  border-bottom: 1px solid #bdbdbd;
  position: relative;
}
@media (min-width: 992px) {
  .title-page {
    height: 80px;
  }
}
.title-page::after {
  display: block;
  width: 100%;
  content: " ";
  border-bottom: 1px solid #fff;
  position: absolute;
  bottom: 0px;
}
.title-page h1 {
  font-size: 24px;
}
@media (min-width: 992px) {
  .title-page h1 {
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
