<section class="vbox">
    <header class="header bg-primary lter text-center clearfix">
        <div class="btn-group">
            <span class="btn btn-sm btn-dark btn-icon"><i class="fa fa-bars"></i></span>
            <div class="btn-group hidden-nav-xs">
                <span class="btn btn-sm btn-primary">Menu</span>
            </div>
        </div>
    </header>
    <section class="w-f scrollable">
        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
            <!-- nav -->
            <nav class="nav-primary hidden-xs">
                <ul class="nav">
                    @{
                        if (ViewBag.IsAdmin)
                        {
                            <li class="active">
                                <a href="/admin/video">
                                    <i class="fa fa-video-camera icon">
                                        <b class="bg-info dker"></b>
                                    </i>
                                    <span>Video</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/photo">
                                    <i class="fa fa-photo icon">
                                        <b class="bg-primary dker"></b>
                                    </i>
                                    <span>Photo</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/about">
                                    <i class="fa fa-info-circle icon">
                                        <b class="bg-danger"></b>
                                    </i>
                                    <span>About</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/backend/order">
                                    <i class="fa fa-shopping-cart icon">
                                        <b class="bg-warning"></b>
                                    </i>
                                    <span>Order</span>
                                </a>
                            </li>
                            <li>
                                <a href="/backend/promotion">
                                    <i class="fa fa-bullhorn icon">
                                        <b class="bg-success dker"></b>
                                    </i>
                                    <span>Promotion Item</span>
                                </a>
                            </li>
                            <li>
                                <a href="/backend/PromotionCategory">
                                    <i class="fa fa-certificate icon">
                                        <b class="bg-success dker"></b>
                                    </i>
                                    <span>Promotion Category</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
            <!-- / nav -->
        </div>
    </section>

    <footer class="footer lt hidden-xs b-t b-dark">
        <div id="chat" class="dropup">
            <section class="dropdown-menu on aside-md m-l-n">
                <section class="panel bg-white">
                    <header class="panel-heading b-b b-light">Active chats</header>
                    <div class="panel-body animated fadeInRight">
                        <p class="text-sm">No active chats.</p>
                        <p><a href="#" class="btn btn-sm btn-default">Start a chat</a></p>
                    </div>
                </section>
            </section>
        </div>
        <div id="invite" class="dropup">
            <section class="dropdown-menu on aside-md m-l-n">
                <section class="panel bg-white">
                    <header class="panel-heading b-b b-light">
                        John <i class="fa fa-circle text-success"></i>
                    </header>
                    <div class="panel-body animated fadeInRight">
                        <p class="text-sm">No contacts in your lists.</p>
                        <p><a href="#" class="btn btn-sm btn-facebook"><i class="fa fa-fw fa-facebook"></i> Invite from Facebook</a></p>
                    </div>
                </section>
            </section>
        </div>
        <a href="#nav" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-default btn-icon">
            <i class="fa fa-angle-left text"></i>
            <i class="fa fa-angle-right text-active"></i>
        </a>
    </footer>
</section>
